html {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
}
.active {
  color: white !important;
  font-weight: bold;
}

.lettering {
  font-family: "lato" !important;
}

.glow {
  -webkit-animation: glow 10s ease-in-out infinite alternate;
  -moz-animation: glow 10s ease-in-out infinite alternate;
  animation: glow 10s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(255,255,255,.8),
                 0 0 22px  rgba(255,255,255,.8),
                 0 0 40px  rgba(66,220,219,.8),
                 0 0 60px  rgba(66,220,219,.8),
                 0 0 80px  rgba(66,220,219,.5),
                 0 0 100px rgba(66,220,219,.5),
                 0 0 140px rgba(66,220,219,.5),
                 0 0 200px rgba(66,220,219,.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255,255,255,.8),
                 0 0 8px rgba(255,255,255,.8),
                 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(66,220,219,.8),
                 0 0 30px rgba(66,220,219,.8),
                 0 0 40px rgba(66,220,219,.8),
                 0 0 50px rgba(66,220,219,.5),
                 0 0 80px rgba(66,220,219,.5);
  }
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.rainbowText {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: move 30s linear infinite;
  -moz-animation: move 30s linear infinite;
  animation: move 30s linear infinite;
}

@keyframes move {
  to {
    background-position: 100vh;
  }
}

.fluid-button-bar a {
  /*this !important HURTS MY SOUL BUT THIS COMPONENT IS MANAGED BY FLOW-BITE SO THIS IS THE BEST I CAME UP WITH IN A JIFFY*/
  width: 100% !important;
}

.fluid-button-bar span {
  /*overriding lib behavior sucks I know bear with me*/
  width: 100% !important;
  justify-content: center;
  gap:1em;
}
.stylistic-quote-mark {
  font-size: 5rem;
  right: 100%;
  @apply mr-2 hidden text-cyan-500 absolute top-0 leading-none;
}

@screen sm {
  .stylistic-quote-mark {
    @apply block;
  }
}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(180deg);}
}
.group:hover .group-hover\:animate-spin3d {
  animation: rotateAnimation 1s linear infinite alternate;
}